{namespace pw=T3\PwComments\ViewHelpers}

<f:if condition="{settings.showAvatar}">
	<div class="comment-avatar">
		<f:if condition="{settings.showGravatarImage}">
			<f:then>
				<pw:Gravatar email="{comment.commentAuthorMailAddress}" size="{settings.gravatarSize}" default="{settings.gravatarDefault}"
							alt="{comment.author.name}{comment.authorName}" class="comment-author-image"/>
			</f:then>
			<f:else>
				<f:image src="{f:uri.resource(path:'Icons/avatar.svg')}" class="comment-author-image default-user-icon" />
			</f:else>
		</f:if>
	</div>
</f:if>

<div class="comment-box">
	<div class="comment-head">
		<h5 class="comment-name">{f:if(condition: '{comment.author}', then: '{comment.author.username}', else: '{comment.authorName}')}</h5>
		<span class="comment-date" title="{pw:format.date(timestamp:'{comment.crdate}', format:'%d.%m.%Y %T')}"> <pw:format.relativeDate timestamp="{comment.crdate}" format="{settings.relativeDate.absoluteFormatFallback}" wrap="{f:translate(key:'tx_pwcomments.relativeDate.wrap')}" wrapAbsolute="{f:translate(key:'tx_pwcomments.relativeDate.wrapAbsolute')}" /></span>
		
		<div class="comment-actions">
			<f:if condition="{settings.enableCommentVotes}">
				<f:if condition="{comment.parentComment}">
					<f:then></f:then>
					<f:else>
						<f:render partial="Comment/Voting" arguments="{comment:comment, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}"></f:render>
					</f:else>
				</f:if>
			</f:if>
			<f:if condition="{settings.enableReplyVotes}">
				<f:if condition="{comment.parentComment}">
					<f:render partial="Comment/Voting" arguments="{comment:comment, upvotedCommentUids:upvotedCommentUids, downvotedCommentUids:downvotedCommentUids}"></f:render>
				</f:if>
			</f:if>

			<f:if condition="{settings.enableRepliesToComments} == 1">
				<f:if condition="{comment.parentComment}">
					<f:then>
						<f:link.action class="reply" action="new" arguments="{commentToReplyTo:comment.parentComment}" section="{settings.writeCommentAnchor}" addQueryString="true" addQueryStringMethod="GET">
							<f:translate key="tx_pwcomments.reply" />
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action class="reply" action="new" arguments="{commentToReplyTo:comment}" section="{settings.writeCommentAnchor}" addQueryString="true" addQueryStringMethod="GET">
							<f:translate key="tx_pwcomments.reply" />
						</f:link.action>
					</f:else>
				</f:if>
			</f:if>
		</div>
	</div>
	<div class="comment-content">
		<f:format.nl2br><f:format.raw>{comment.message}</f:format.raw></f:format.nl2br>
	</div>
</div>
